h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: repeat(3, 190px);
  justify-content: center;
}

div[data-cell] div {
  color: white;
  pointer-events: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 210px;
  line-height: 190px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  margin: 0 auto;
  display: block;
  height: 50px;
}

#restartBtn {
  display: none;
}